html,
body {
  padding: 0;
  margin: 0;
  font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #2e3338
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 20px;
}

code {
  font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
  background: #f2f3f5;
  padding: px;
  margin: 1px;
  border-radius: 6px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    color: #fff;
  }
  body {
    color: #daddda;
    background: #36393f;
  }
  code, .card {
    background: #2f3136
  }
}
