@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.card {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  margin-top: 10px;
  padding: 1rem;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.guildCard, .userCard {
  cursor: pointer;
  border: 1px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  margin: 2rem;
  justify-content: space-between;
}

@media (prefers-color-scheme: dark) {
  .guildCard, .userCard, .card {
    background: #2f3136
  }
  .card {
    border: 1px solid white
  }
}
